<!-- Allow the user choose stimgen settings.
    Select stimgen type, then rest of fields should follow
 -->

<!-- TODO: Check DB to see if user has unfinished experiment and 
    redirect/take those setting instead -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>

<h2>Choose a stimulus generation type</h2>
<p>Click on the button to open the dropdown menu.</p>

<!-- Dropdown with all available stimgen types -->
<div class="dropdown">
    <button onclick="showOptions()" onchange="test()" class="dropbtn">Stimulus generation options</button>
    <div id="stimgenDropdown" class="dropdown-content">
        <option value="UniformPrior">Uniform Prior</option>
        <option value="GaussianPrior">Gaussian Prior</option>
    </div>

    <div id="extra" name="extra" style="display: none">
        <label class="max-freq" style="display:none">Maximum Frequency</label>
        <input class="max-freq" name="UP" style="display:none;">
    </div>
</div>

<script>


// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            }
        }
    }
}



</script>
    