html * {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

body {
  background-color: #f4f3f2;
}

.progress {
  background-color: #aaa;
  margin-left: auto;
  margin-right: auto;
}

/* For centered buttons on experiment page */
.centered-buttons {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-154px);
  -moz-transform: translateY(-154px);
  -ms-transform: translateY(-154px);
  -o-transform: translateY(-154px);
  transform: translateY(-154px);
}

/* copied from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l so it looks reasonable*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.sortable-table th {
  cursor: pointer;
}

.sortable-table .th-sort-asc::after {
  content: "\25b4";
}

.sortable-table .th-sort-desc::after {
  content: "\25be";
}

.sortable-table .th-sort-asc::after,
.sortable-table .th-sort-desc::after {
  margin-left: 5px;
}

.sortable-table .th-sort-asc,
.sortable-table .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e3e3e3;
  transition: 0.3s;
  border-radius: 12px;

}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+.slider {
  background-color: #009879;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked+.slider:before {
  transform: translateX(26px);
}

.adjust-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  border-radius: 12px;
  background-color: #fff;

}