html * {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

body {
  background-color: #f4f3f2;
}

.progress {
  background-color: #aaa;
  margin-left: auto;
  margin-right: auto;
}

/* For centered buttons on experiment page */
.centered-buttons {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-154px);
  -moz-transform: translateY(-154px);
  -ms-transform: translateY(-154px);
  -o-transform: translateY(-154px);
  transform: translateY(-154px);
}

/* copied from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l so it looks reasonable*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
