<body>
    <% partial("app/layouts/_logout.jl.html") %>
    <div>
        <h1>Home page!</h1>
    </div>
    <div>
        <!-- TODO: Add sort feature -->
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Instance</th>
                    <th>Percent complete</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% for_each(added_experiments) do e %>
                <tr>
                    <td>$(e.experiment_name)</td>
                    <td>$(e.instance)</td>
                    <td>$(round(Int, 100*e.frac_complete))&percnt;</td>
                    <%  if e.frac_complete >= 1  %>
                            <td>None</td>
                    <%  elseif e.frac_complete > 0  %>
                            <td> 
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="continue">
                                    <input type="submit" value="Continue"></input>
                                </form>
                            </td>
                    <%  else  %>
                            <td>
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="start">
                                    <input type="submit" value="Start"></input>
                                </form>
                            </td>
                    <%  end  %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</body>