<body>
    <% partial("app/layouts/_logout.jl.html") %>
    <div>
        <h1>Home page!</h1>
    </div>
    <div>
        <!-- TODO: Add sort feature -->
        <table class="styled-table">
            <tr>
                <th>Name</th>
                <th>Instance</th>
                <th>Percent complete</th>
                <th>Action</th>
            </tr>
            <% for_each(added_experiments) do e %>
                <tr>
                    <td>$(e.experiment_name)</td>
                    <td>$(e.instance)</td>
                    <td>$(round(Int, e.percent_complete))&percnt;</td>
                    <%  if e.percent_complete >= 100  %>
                            <td>None</td>
                    <%  elseif e.percent_complete > 0  %>
                            <td> 
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="continue">
                                    <input type="submit" value="Continue"></input>
                                </form>
                                <form style="float:right;margin-left:2px;" name="restart-form" method="post">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="submit" value="Restart"></input>
                                </form>
                            </td>
                    <%  else  %>
                            <td>
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="start">
                                    <input type="submit" value="Start"></input>
                                </form>
                                <form style="float:right;margin-left:2px" name="remove-form" method="post">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="submit" value="Remove"></input>
                                </form>
                            </td>
                    <%  end  %>
                </tr>
            <% end %>
        </table>
    </div>

    <div>
        <form name="add-form" action="/add" method="post">
            <label>Add experiment:</label>
            <select name="name" id="add-experiment">
                <option selected disabled hidden>Choose here</option>
                <%  for_each(visible_experiments) do e 
                        if e.name in getproperty.(ongoing_experiments, :experiment_name)
                %>
                            <option value="$(e.name)" disabled>$(e.name)</option>
                        <% else %>
                            <option value="$(e.name)">$(e.name)</option>
                        <% end %>
                <% end %>
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
    
    <script>
        document.addEventListener("submit", function(e) {
            if (e.target.getAttribute('name') == 'add-form') {
                e.preventDefault();
                addExperiment(e.target);
            } else if (e.target.getAttribute('name') == 'restart-form') {
                e.preventDefault();
                const ans = confirm("Are you sure you want to restart this experiment? " +
                                    "All current data will be lost.");
                if (ans) {
                    restartExperiment(e.target);
                }
            } else if (e.target.getAttribute('name') == 'remove-form') {
                e.preventDefault();
                const ans = confirm("Are you sure you want to remove this experiment?");
                if (ans) {
                    removeExperiment(e.target);
                }
            }
        });
    </script>
</body>