<body>
    <% partial("app/layouts/_logout.jl.html") %>
    <div>
        <h1>Home page!</h1>
    </div>
    <div>
        <table class="styled-table">
            <tr>
                <th>Name</th>
                <th>Instance</th>
                <th>Percent complete</th>
                <th>Action</th>
            </tr>
            <% for_each(added_experiments) do e %>
                <tr>
                    <td>$(e.experiment_name)</td>
                    <td>$(e.instance)</td>
                    <td>$(round(Int, e.percent_complete))&percnt;</td>
                    <%  if e.percent_complete >= 100  %>
                            <td>None</td>
                    <%  elseif e.percent_complete > 0  %>
                            <td> 
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="continue">
                                    <input type="submit" value="Continue"></input>
                                </form>
                                <form style="float:right;margin-left:2px;" id="reset-form" method="post">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="submit" value="Restart"></input>
                                </form>
                            </td>
                    <%  else  %>
                            <td>
                                <form action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="start">
                                    <input type="submit" value="Start"></input>
                                </form>
                            </td>
                    <%  end  %>
                </tr>
            <% end %>
        </table>
    </div>

    <div>
        <form action="/add_experiment">
            <label>Add experiment:</label>
            <select id="add-experiment">
                <% for_each(visible_experiments) do e %>
                    <option value="$(e.name)">$(e.name)</option>
                <% end %>
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
    
    <script>
        document.getElementById("reset-form").addEventListener("submit", function(e){
            e.preventDefault();
            const ans = confirm("Are you sure you want to restart this experiment? " +
                                "All current data will be lost.");
            if (ans) {
                resetExperiment(e.target);
            }
        });
    </script>
</body>