<style>
        #to-calibrate {
        background-color: #1bcc3f;
        color: #ffffff; 
        margin-bottom: 18px; 
        margin-right: 18px; 
        border: None;
        padding: 10px 20px 10px 20px;
        font-size: 17px; 
        cursor: pointer;
        transition: background-color 0.2s ease;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    #to-calibrate:hover {
        background-color: #27ab41;
    }
</style>

<% 
if is_admin
    partial("app/layouts/_admin_header.jl.html")
else
    partial("app/layouts/_user_header.jl.html")
end
%>

<div class="container text-center">
    <h1>Experiment profile: $(username)</h1>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">

        <div class="col-md-auto">
            <div class="d-flex align-items-center justify-content-end">
                <b><label class="my-1 me-1" for="user-ae-limit">Show:</label></b>
                <select id="user-ae-limit" class="form-select w-auto" onchange="updateTableLimit('user-ae',updateUserAETable,this.value);">
                    <!-- <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option> -->
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                </select>
            </div>
            <!-- TODO: Add sort feature -->
            <table class="table styled-table mb-0 mt-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Instance</th>
                        <th>Percent complete</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="user-ae">
                <% for_each(ae_data) do e %>
                    <tr>
                        <td>$(e[:name])</td>
                        <td>$(e[:instance])</td>
                        <td>$(e[:percent_complete])&percnt;</td>
                        <%  if e[:status] == "completed" %>
                                <td>None</td>
                        <%  elseif e[:status] == "started"  %>
                                <td>
                                    <form style="float:left;" action="/experiment">
                                        <input type="hidden" name="name" value="$(e[:name])">
                                        <input type="hidden" name="instance" value="$(e[:instance])">
                                        <input type="hidden" name="from" value="continue">
                                        <input type="submit" value="Continue"></input>
                                    </form>
                                </td>
                        <%  else  %>
                                <td>
                                    <form style="float:left;" action="/experiment">
                                        <input type="hidden" name="name" value="$(e[:name])">
                                        <input type="hidden" name="instance" value="$(e[:instance])">
                                        <input type="hidden" name="from" value="start">
                                        <input type="submit" value="Start"></input>
                                    </form>
                                </td>
                        <%  end  %>
                    </tr>
                <% end %>
                </tbody>
            </table>
            <nav aria-label="Experiment table pagination">
                <ul id="user-ae-nav" class="pagination">
                    <li id="user-ae-prev-btn" class="page-item page-link disabled" onclick="updateTablePage('user-ae',updateUserAETable,parseInt(sessionStorage.getItem('user-ae-page'))-1);">Previous</li>
                    <% for_each(user_ae_table_pages_btns) do num %>
                        <% if num === 1 %>
                            <li name="user-ae-nav-num" class="page-item page-link active" onclick="updateTablePage('user-ae',updateUserAETable,$(num));">$(num)</li>
                        <% elseif num isa AbstractString %>
                            <li name="user-ae-nav-num" class="page-item page-link">$(num)</li>
                        <% else %>
                            <li name="user-ae-nav-num" class="page-item page-link" onclick="updateTablePage('user-ae',updateUserAETable,$(num));">$(num)</li>
                        <% end %>
                    <% end %>
                    <li id="user-ae-next-btn" class="page-item page-link" onclick="updateTablePage('user-ae',updateUserAETable,parseInt(sessionStorage.getItem('user-ae-page'))+1);">Next</li>
                </ul>
            </nav>
        </div>
    </div>
    <button class="btn btn-primary position-fixed bottom-0 end-0 m-3" id="to-calibrate" onclick="calibrate()">Calibrate</button>
</div>

<script>
    ready(() => {
        sessionStorage.setItem('user-ae-page', $(init_page));
        sessionStorage.setItem('user-ae-limit', $(init_limit));
        sessionStorage.setItem('user-ae-max-data', $(num_aes));  
    })

    function calibrate() {
        window.location.href = "/calibrate";
    }
</script>
