<% 
if is_admin
    partial("app/layouts/_admin_header.jl.html")
else
    partial("app/layouts/_user_header.jl.html")
end
%>

<div class="container">
    <h1>Experiment profile: $(username)</h1>
</div>

<div class="container">
    <div class="align-items-center">
        <!-- TODO: Add sort feature -->
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Instance</th>
                    <th>Percent complete</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% for_each(added_experiments) do e 
                counter += 1 %>
                <tr>
                    <td>$(e.experiment_name)</td>
                    <td>$(e.instance)</td>
                    <td>$(round(Int, 100*e.trials_complete / n_trials[counter]))&percnt;</td>
                    <%  if e.trials_complete >= n_trials[counter]  %>
                            <td>None</td>
                    <%  elseif e.trials_complete > 0  %>
                            <td> 
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="continue">
                                    <input type="submit" value="Continue"></input>
                                </form>
                            </td>
                    <%  else  %>
                            <td>
                                <form style="float:left;" action="/experiment">
                                    <input type="hidden" name="name" value="$(e.experiment_name)">
                                    <input type="hidden" name="instance" value="$(e.instance)">
                                    <input type="hidden" name="from" value="start">
                                    <input type="submit" value="Start"></input>
                                </form>
                            </td>
                    <%  end  %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
