<%
if is_admin === nothing
  partial("app/layouts/_generic_header.jl.html")
elseif is_admin
  partial("app/layouts/_admin_header.jl.html")
else
  partial("app/layouts/_user_header.jl.html")
end
%>

<div class="container">
  <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
  <p class="text-center mb-5">Find additional information about the study below</p>
  
  <div class="row justify-content-around">
    <!-- Column 1 -->
    <div class="col-6">
      
      <h4 class="mb-4 text-center fw-bold">Prior to Participation</h4>

      <div class="accordion" id="accordionFAQ-1">

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c1q1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1q1" aria-expanded="false" aria-controls="c1q1">
              How many people will take part in this research?
            </button>
          </h2>
          <div id="c1q1" class="accordion-collapse collapse" aria-labelledby="heading-c1q1" data-bs-parent="#accordionFAQ-1">
            <div class="accordion-body">
              About 100 people will take part in this study at UMass Memorial Center and Worcester Polytechnic Institute. 
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c1q2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1q2" aria-expanded="false" aria-controls="c1q2">
              How long will I be in this research?
            </button>
          </h2>
          <div id="c1q2" class="accordion-collapse collapse" aria-labelledby="heading-c1q2" data-bs-parent="#accordionFAQ-1">
            <div class="accordion-body">
              The study will take about 2-10 hours to complete. No session will be longer than 2 hours, but we may ask you to return for additional sessions. There will be frequent breaks.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c1q3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1q3" aria-expanded="false" aria-controls="c1q3">
              What happens if I say yes, I want to be in this research?
            </button>
          </h2>
          <div id="c1q3" class="accordion-collapse collapse" aria-labelledby="heading-c1q3" data-bs-parent="#accordionFAQ-1">
            <div class="accordion-body">
              If you decide to participate in this research, you may be asked to complete surveys or questionnaires to describe the severity of your hearing loss and/ or tinnitus.<br>
              <br>
              You will be asked to listen to a series of excerpts of white noise and try to match the white noise to your perception of your tinnitus. 
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c1q4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1q4" aria-expanded="false" aria-controls="c1q4">
              Will it cost me any money to take part in this research?
            </button>
          </h2>
          <div id="c1q4" class="accordion-collapse collapse" aria-labelledby="heading-c1q4" data-bs-parent="#accordionFAQ-1">
            <div class="accordion-body">
              No, there is no cost to you.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c1q5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1q5" aria-expanded="false" aria-controls="c1q5">
              Will being in this research help me in any way?
            </button>
          </h2>
          <div id="c1q5" class="accordion-collapse collapse" aria-labelledby="heading-c1q5" data-bs-parent="#accordionFAQ-1">
            <div class="accordion-body">
              Unfortunately, we do not expect that participating in this study will improve or change your tinnitus. However, participating in this study may allow researchers to better understand tinnitus so that we may one day help improve treatments for tinnitus.
            </div>
          </div>
        </div>

        <div class="accordion-item mb-4">
          <h2 class="accordion-header" id="heading-c1q6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1q6" aria-expanded="false" aria-controls="c1q6">
              What other choices do I have besides taking part in this research? 
            </button>
          </h2>
          <div id="c1q6" class="accordion-collapse collapse" aria-labelledby="heading-c1q6" data-bs-parent="#accordionFAQ-1">
            <div class="accordion-body">
              You do not have to participate in this research. If, at any point, you chose to stop participating in this research, you may do so without any adverse consequences.
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Column 2 -->
    <div class="col-6">

      <h4 class="mb-4 text-center fw-bold">During and After Participation</h4>

      <div class="accordion" id="accordionFAQ-2">

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c2q1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2q1" aria-expanded="false" aria-controls="c2q1">
              Will you be collecting any specimens from me?
            </button>
          </h2>
          <div id="c2q1" class="accordion-collapse collapse" aria-labelledby="heading-c2q1" data-bs-parent="#accordionFAQ-2">
            <div class="accordion-body">
              No.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c2q2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2q2" aria-expanded="false" aria-controls="c2q2">
              What happens if I am injured because I took part in this research?
            </button>
          </h2>
          <div id="c2q2" class="accordion-collapse collapse" aria-labelledby="heading-c2q2" data-bs-parent="#accordionFAQ-2">
            <div class="accordion-body">
              We do not expect any injuries from participation in this study. However, if you are injured while in the study, seek treatment and contact the study doctor as soon as you are able.<br>
              <br>
              The University of Massachusetts Medical School and Worcester Polytechnic Institute do not provide funds for the treatment of research-related injury. If you are injured as a result of your participation in this study, treatment will be provided. You or your insurance carrier will be expected to pay the costs of this treatment. No additional financial compensation for injury or lost wages is available.<br>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c2q3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2q3" aria-expanded="false" aria-controls="c2q3">
              What happens if I say yes, but I change my mind later?
            </button>
          </h2>
          <div id="c2q3" class="accordion-collapse collapse" aria-labelledby="heading-c2q3" data-bs-parent="#accordionFAQ-2">
            <div class="accordion-body">
              If you decide not to participate in this research study at any point during testing, please let us know. There will be no adverse consequences to you for withdrawing from this study. 
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c2q4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2q4" aria-expanded="false" aria-controls="c2q4">
              How will my information be stored and when will it be destroyed?
            </button>
          </h2>
          <div id="c2q4" class="accordion-collapse collapse" aria-labelledby="heading-c2q4" data-bs-parent="#accordionFAQ-2">
            <div class="accordion-body">
              We will remove your name and any other information that could directly identify you from your data. We will replace this information with a code number. We will create a master list linking your code number to your name. We will keep this list separate from your data.<br>
              <br>
              We will keep paper documents under lock and key. We will keep electronic health information and research data on secure computer networks. These computer networks have many levels of protection.<br>
              <br>
              There is no limit on the length of time we will store your data.<br>
              <br>
              <ul>
                <li>
                  It is possible that we might use the research data and specimens in other future research. We may also share data and specimens with researchers and companies that are not part of UMMS. In these cases, we will not share your name or other information that identifies you directly, and we will not come back to you to ask you for your consent. 
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-c2q5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2q5" aria-expanded="false" aria-controls="c2q5">
              Who has access to my information?
            </button>
          </h2>
          <div id="c2q5" class="accordion-collapse collapse" aria-labelledby="heading-c2q5" data-bs-parent="#accordionFAQ-2">
            <div class="accordion-body">
              As part of the research, UMass Memorial Medical Center or any other healthcare facility where you are treated may disclose the following information:
              <ul>
                <li>Demographic and identifying information like your name, date of birth, address, telephone number, and your email address</li>
                <li>Related medical information like family medical history, hearing-related information, and current and past medications or therapies</li>
                <li>All tests and procedures that will be done in the study</li>
              </ul>
              Your health information and research records will be shared with the study team and with individuals and organizations that conduct or watch over this research, in order to conduct the study and to make sure it is conducted as described in this form. Information and records may be shared with:
              <ul>
                <li>The Institutional Review Board (IRB) that reviewed this research</li>
                <li>The University of Massachusetts Medical School and UMass Memorial Health Care, including their Institutional Review Board (IRB) and research, billing, and compliance offices</li>
                <li>Health care providers who provide services in connection with this study</li>
              </ul>
              We will protect your identifiable information from disclosure to others to the extent required by law, but we cannot promise complete secrecy.
            </div>
          </div>
        </div>

        <div class="accordion-item mb-4">
          <h2 class="accordion-header" id="heading-c2q6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2q6" aria-expanded="false" aria-controls="c2q6">
              Who can I talk to?
            </button>
          </h2>
          <div id="c2q6" class="accordion-collapse collapse" aria-labelledby="heading-c2q6" data-bs-parent="#accordionFAQ-2">
            <div class="accordion-body">
              If you have questions, concerns, or complaints, or think this research has hurt you or made you sick, talk to the research team at the phone number listed on the first page.<br>
              <br>
              This research is being overseen by an Institutional Review Board. An IRB is a group of people who perform independent review of research studies. You may talk to them at (508) 856-4261 or irb@umassmed.edu for any of the following:
              <ul>
                <li>Your questions, concerns, or complaints are not being answered by the research team.</li>
                <li>You cannot reach the research team.</li>
                <li>You want to talk to someone besides the research team.</li>
                <li>You have questions about your rights as a research participant.</li>
                <li>You want to get information or provide input about this research.</li>
              </ul>
              
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>