<script src="https://kit.fontawesome.com/820a0178a4.js"
    crossorigin="anonymous"></script>
<style>
    body {
        background: #dff0f6;
    }

    .adjust {
        width: 200px;
    }

    .adjust-box-buttons {
        font-size: 18px;
        font-weight: 400;
        width: 142px;
        color: #fff;
        padding: 14px 22px;
        border: none;
        background: #0052ff;
        border-radius: 6px;
        cursor: pointer;
        margin-left: 14px;
        margin-top: 20px;
    }

    .adjust-box-buttons:hover {
        background-color: #265df2;
    }

    .adjust-box {
        font-size: 18px;
        font-weight: 400;
        position: fixed;
        width: 370px;
        left: 50%;
        top: 50%;
        padding: 27px 17px;
        transform: translate(-50%, -50%);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .adjust-box-buttons:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-container i {
        margin-left: 10px;
    }
</style>
<body>
    <h1 style="text-align: center; margin-top: 10vw;">Threshold
        Determination</h1>
    <div
        class="container vh-100 d-flex align-items-center justify-content-center">
        <div class="adjust-box">
            <div class="slider-container">
                <i class="fa-solid fa-minus fa-xs"
                    style="color: #0052ff; cursor: pointer; margin-right: 10px;"
                    onclick="document.getElementById('thresholdSlider').value = parseInt(document.getElementById('thresholdSlider').value) - 1;"></i>

                <input class="adjust" id="thresholdSlider" type="range"
                    min="-95" max="95" step="1" value disabled>

                <i class="fa-solid fa-plus fa-xs"
                    style="color: #0052ff; cursor: pointer; margin-left: 10px;"
                    onclick="document.getElementById('thresholdSlider').value = parseInt(document.getElementById('thresholdSlider').value) + 1;"></i>
            </div>
            <br>
            <label>
                <input type="checkbox" id="cantHear"
                    style="display: inline-block;"
                    onchange="togglePlaySound(this.checked);" disabled>
                Can't hear
            </label>
            <div>
                <button class="adjust-box-buttons" id="playSound"
                    type="button" onclick="playSound($freqs)">Play
                    Sound</button>
                <button class="adjust-box-buttons" id="saveThreshold"
                    type="button" onclick="saveThreshold()"
                    disabled>Save</button>
            </div>
        </div>
    </div>

    <audio id="pure_tone"
        preload="auto"></audio>

    <script>

    function togglePlaySound(checked) {
        if (checked) {
            document.getElementById("playSound").disabled = true;
        } else {
            document.getElementById("playSound").disabled = false;
        }
    }

    let curr_freq_index = 0;
    // prev_instance is used to check if the user can hear the sound or not
    let prev_instance = 1;
    let curr_dB;
    let thresholdSlider = document.getElementById('thresholdSlider');

    function playSound(freqs) {
        document.getElementById('cantHear').disabled = false;
        if (curr_freq_index > freqs.length) {
            alert("All frequencies played");
            return;
        }

        console.log("current_freq_index: ", curr_freq_index);
        calibrated_value = sessionStorage.getItem('calibrated_value');
        const params = new URLSearchParams(window.location.search);

        if (curr_freq_index == 0){
            curr_dB = 60;
        }
        else{
            if (prev_instance == 0) {
                curr_dB = 60;
                prev_instance = 1;
            }
            else if (parseInt(thresholdSlider.value) + 10 <= 95) {
                curr_dB = parseInt(thresholdSlider.value) + 10;
            }
        }
        console.log("current_dB: ", curr_dB);

        if(document.getElementById('cantHear').checked){
            prev_instance = 0;
        }

        const url = '/getPureTone?' + params.toString() + '&curr_freq_index=' + curr_freq_index +'&curr_dB=' + curr_dB + '&calibrated_value=' + calibrated_value;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({curr_dB: curr_dB, calibrated_value: calibrated_value, curr_freq_index: curr_freq_index}),
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('pure_tone').src = 'data:audio/wav;base64,' + data;
            document.getElementById('pure_tone').play();
        });

        document.getElementById('saveThreshold').disabled = false;
   

    }

    function saveThreshold() {
        document.getElementById('cantHear').disabled = true;

        if (curr_freq_index == 0) {
            thresholdSlider.disabled = false;
        }
        let cant_hear = document.getElementById('cantHear').checked;
        document.getElementById('saveThreshold').disabled = true;
        document.getElementById('thresholdSlider').value = 0;
        document.getElementById('cantHear').checked = false;
        document.getElementById('playSound').disabled = false;

        
        const params = new URLSearchParams(window.location.search);

        const url = '/saveThreshold?' + params.toString() + '&curr_dB=' + curr_dB + '&curr_freq_index=' + curr_freq_index + '&cant_hear=' + cant_hear;

        // Create a POST request to the URL
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ curr_dB: curr_dB, curr_freq_index: curr_freq_index, cant_hear: cant_hear})
        })
        .then(response => {
            // Handle response
            if (response.ok) {
                // Response is successful
                console.log('Data saved successfully!');
            } else {
                // Response failed
                console.error('Failed to save data:', response.statusText);
            }
        })
        .catch(error => {
            // network errors
            console.error('Error occurred while saving data:', error);
        });

        
        curr_freq_index += 1;
    }
</script>
